[submodule "libraries/mbedtls"]
	path = libraries/mbedtls
	url = git@github.com:Cold-Ion-Group/mbedtls-fork.git
[submodule "libraries/mqtt/paho.mqtt.embedded-c"]
	path = libraries/mqtt/paho.mqtt.embedded-c
	url = https://github.com/eclipse/paho.mqtt.embedded-c
[submodule "libraries/iio/libtinyiiod"]
	path = libraries/iio/libtinyiiod
	url = https://github.com/analogdevicesinc/libtinyiiod
